:root {
    --color-1: rgb(110 120 145); /* logo text */
    --color-2: rgb(245 247 250); /* header color */
    --color-3: rgb(138 148 173); /* search icon */
    --color-4: rgb(138 148 173); /* default border color search input */
    --color-5: rgb(159 166 188); /* default search play-cho-le-der */
    --color-6: rgb(49 55 74); /* text search  */
    --color-7: rgb(247 237 222);
    --color-8: #e5780b;
    --color-9: #3874ff;
    --color-10: #3874ff;
    --color-11: #3874ff;
    --color-12: #525b75;
    --color-13: #ed2000;
    --color-14: #373c48;
    --color-15: #ffffff;
    --color-16: #000000;
    --color-17: #31374a;
    --color-18: #eff2f6;
}

/* color */
.bg-color-1 {
    background-color: var(--color-2);
}

.bg-color-13 {
    background-color: var(--color-13);
}

.bg-color-7 {
    background-color: var(--color-7);
}

.color-3 {
    color: var(--color-3)
}

.color-16 {
    color: var(--color-16);
}

.color-8 {
    color: var(--color-8);
}

.color-12 {
    color: var(--color-12);
}

.color-1 {
    color: var(--color-1);
}


.cs-font-size-sticker-number {
    font-size: 0.8rem;
}

.cus-icon-search {
    top: 34%;
    font-size: 0.8rem;
}

.cus-search-input {
    padding-left: 36px;

}

.cus-search-input::placeholder {
    opacity: 70% !important;
    font-size: 0.9rem;
}

.cus-turn-theme {
    width: 2rem;
    height: 2rem;
}

.cus-turn-theme:hover {
    background-color: var(--color-8);
    transition: ease-in-out 0.3s;
}

.cus-icon-sun:hover {
    color: var(--color-15);
    transition: ease-in-out 0.3s;
}

.cus-sticker-number {
    width: 1.2rem;
    height: 1.2rem;
    top: 2px;
    right: -3px;
}

.cus-sticker-bell {
    width: .6rem;
    height: .6rem;
    top: 5px;
    right: 7px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--color-14);
    --bs-tooltip-color: var(--color-15);
}

.cus-navigate-link {
    font-size: 0.8rem;
}

.cus-navigate-li:hover > a {
    color: var(--color-16);
    transition: all ease 0.3s;
}

.cus-category-btn {
    font-size: 0.8rem;
}

.cus-category-item .cus-title-category {
    font-size: 0.8rem;
}

.cus-category-item .cus-category-list-item {
    font-size: 0.8rem;
}

.cus-category-item .cus-category-list-item > a:hover {
    background-color: var(--color-18);
}


.dropdown-menu {
    min-width: 750px;
    background-color: var(--color-15);
}

.dropdown-menu::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: -10px;
    left: 1.5rem;
    transform: rotate(224deg);
    border-radius: .25rem;
    background-color: red;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}

.cus-category-footer {
    font-size: 0.8rem;
}