:root {
    --color-1: rgb(110 120 145);  /* logo text */
    --color-2: rgb(245 247 250);  /* header color */
    --color-3: rgb(138 148 173);  /* search icon */
    --color-4: rgb(138 148 173);  /* default border color search input */
    --color-5: rgb(159 166 188);  /* default search play-cho-le-der */
    --color-6: rgb(49 55 74);       /* text search  */
    --color-7: rgb(247 237 222); 
    --color-8: #e5780b;
    --color-9: #3874ff;
    --color-10: #3874ff;
    --color-11: #3874ff;
    --color-12: #525b75;
    --color-13: #ed2000;
    --color-14: #373c48;
    --color-15: #ffffff;
}

/* color */
.bg-color-1 {
    background-color: var(--color-2)
}

.bg-color-13 {
    background-color: var(--color-13)
}

.bg-color-7 {
    background-color: var(--color-7)
}

.color-3 {
    color: var(--color-3)
}

.color-8 {
    color: var(--color-8)
}

.color-12 {
    color: var(--color-12);
}

.color-1 {
    color: var(--color-1)
}



/* font size */
.cus-icon-search-size {
    font-size: 0.8rem;
}

.cs-font-size-sticker-number {
    font-size: 0.8rem;
}

/* position */
.cus-icon-search-position {
    top: 38%;
}
/* padding */
.cus-search-padding {
    padding-left: 36px;
}
/* :: */
.cus-search::placeholder {
    opacity: 75%;
}

/* with height */
.cus-bg-size-turn-theme {
    width: 2rem;
    height: 2rem;
}

.cus-bg-size-turn-theme:hover {
    background-color: var(--color-8);
    transition: ease-in-out 0.3s;
}

.cus-icon-sun:hover {
    color: var(--color-15);
    transition: ease-in-out 0.3s;

}

.cus-bg-size-sticker-number {
    width: 1.2rem;
    height: 1.2rem;
    top: 2px;
    right: -3px;
}

.cus-bg-size-sticker-bell {
    width: .6rem;
    height: .6rem;
    top: 5px;
    right: 7px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--color-14);
    --bs-tooltip-color: var(--color-15);
}